{% if post %}
    <div class="container post">
        <div class="post-header">
            <p><img src="{{ post.author.avatar(25) }}" class="post-author-image img-circle"> <a href="/user/{{ post.author.username }}">{{ post.author.username }}</a></p>
        </div>
        <div class="post-body">
            {% if post.image %}
                <img class="post-body-image" src={{ post.image }}>
            {% endif %}
        </div>
        <div class="post-caption">
            <p><b><a href="/user/{{ post.author.username }}">{{ post.author.username }}</a></b> {{ post.body }}</p>
        </div>
        <div class="post-comments">
            
        </div>
    </div>
{% endif %}